<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring configuration of daos -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">



	<!-- NOTE: The naming convention here is intentional! The JPA transaction 
		manager (defined below) looks for a bean called "entityManagerFactory", which 
		it then injects into itself by default. If you change the name of this factory, 
		then the transaction manager will break unless you add an 'entityManagerFactory' 
		property to it! SEE THE persitence.xml file -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName">
			<value>vts</value>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle9Dialect" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
			</props>
		</property>

	</bean>

	<!-- Auto-injects the entityManagerFactory (defined above). See note there. -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory">
			<ref bean="entityManagerFactory" />
		</property>
	</bean>

	<!-- USING FOR ANNOTATION DRIVEN WRIRING -->
	<context:annotation-config />
	<context:component-scan base-package="gov.utah.va" />

	<!-- Use transactional annotations to define transactions. (See @Transactional(rollbackFor=Exception.class) on DAO impl class where needed -->  
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />


</beans>
