<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring configuration of daos -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName">

	<!--  DEFINE THE DATA SOURCE HERE (SEE THE META-INF/context.xml)  -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/uvis</value>
		</property>
		<property name="lookupOnStartup">
			<value>false</value>
		</property>
		<property name="proxyInterface">
			<value>javax.sql.DataSource</value>
		</property>
	</bean>
</beans>
