<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring configuration of daos -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName">

	<!-- DEFINE THE DATA SOURCE HERE TEST CONNECTION -->
	<!-- bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@itdb200sp.dts.utah.gov:1521:vat2" />
		<property name="username" value="va_vts" />
		<property name="password" value="vts_at123" />
	</bean -->
	
	<!-- bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@itdb201sp.dts.utah.gov:1521:vpd1" />
		<property name="username" value="va_vts" />
		<property name="password" value="vts_pr0d1" />
	</bean -->
	
</beans>
